.Pokecard {
    text-align: center;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    width: 8em;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .card-title {
    color: rgb(252, 163, 19);
    font-weight: bold;
  }
  
  .card-data {
    font-size: 80%;
  }
  
  